<p><%= link_to "Back to Homepage", categories_path %></p>
<h1>login page</h1>

<%= form_tag sessions_path do %>
  <%= label_tag "Name" %>
  <%= text_field_tag :name %>
  <%= label_tag "Password" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign In" %>
<% end %>
