<%= form_for @user do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>
<%= button_to "Delete Profile", @user, method: :delete, data: { confirm: "Really?" } %>

<p>Add validations</p>
<p>User cart gets empty when user is deleted</p>