<%= form_for :user, url: '/users' do |f| %>
 <%= f.label "Username:" %><%= f.text_field :name %>
 <%= f.label "Password:" %><%= f.password_field :password %>
  <%= f.label "Password Confirmation:" %> <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>

<ul>
<% @users.each do |user| %>
   <li><%= link_to user.name, user_path(user) %></li>
<% end %>
</ul>


