<div class="itemsContainer">
<p><%= link_to "Back to search", root_path %></p>
<h1>Random Crave Selected</h1>
<h2>!!!!<%=@items.name%>!!!!</h2>

<div class="clearer"></div>

<%= image_tag("Square_200x200.png", :alt => "rss feed") %>
<div class="descpBox">
<p><strong>Description: <%= @items.description %></strong></p>
<p><strong>Price: $<%= @items.price %></strong></p>

<div class="button"><%= button_to "Add to Cart", add_to_cart_path(@items), method: :patch %></div>
<div class="button"><%= button_to "Add Crave", favorites_path, params: { user_id: session[:user_id], item_id: @items.id } %></div>
</div>
</div>