<h3>Your next crave is</h3>
<h3>!!!!<%=@items.name%>!!!!</h3>

<p>Description: <%= @items.description %></p>
<p>Price: $<%= @items.price %></p>

<%= button_to "Add to Cart", add_to_cart_path(@items), method: :patch%><br>
<%= button_to "Add Crave", favorites_path, params: {user_id: @user, item_id: @items.id}%>
  <%=Unsplash::Photo.search("desserts").photo%>
