<h1>Welcome to Craver</h1>

<h3>Search for a Crave:</h3>
<% @categories.each do |cat| %>
<ul>
<li><%= link_to cat.name, category_path(cat)%></li>
</ul>
<%end%>

<div class="containerTop">

<div class="eachItem">
<h3>#1 Craver Crave</h3>
<%= image_tag("Square_200x200.png", :alt => "rss feed") %>
<h3><%= link_to favorites_all.item.name, item_path(favorites_all.item) %> $<%=favorites_all.item.price%>
<%= button_to "Add to Cart", add_to_cart_path(favorites_all.item), method: :patch %></h3>
</div>
</div> 
<div class="eachItem">
<h3>Trending Crave</h3>
<%= image_tag("Square_200x200.png", :alt => "rss feed") %>
<h3><%= link_to favorites_all.item.name, item_path(favorites_all.item) %> $<%=favorites_all.item.price%>
<%= button_to "Add to Cart", add_to_cart_path(favorites_all.item), method: :patch %></h3>
</div>

<div class="eachItem">
<h3>Find a New Crave</h3>
<%= image_tag("Square_200x200.png", :alt => "rss feed") %>
<h3><%= button_to "I'm feeling lucky!", items_path, method: :get %></h3>
</div>


<div class="clearer"></div>

<div class="container">

<% items_all.each do |item|%>
    <div class="eachItem">
    <h3>Newest Craves</h3>
        <%= image_tag("Square_200x200.png", :alt => "rss feed") %>
        <h3><%= item.name %> $<%= item.price %></h3>
    </div>
<%end%>

</div>


