<h1>Welcome to Craver</h1>

<h3>Search for a Crave:</h3>
<% @categories.each do |cat| %>
<ul>
<li><%= link_to cat.name, category_path(cat)%></li>
</ul>
<%end%>

<div class="eachItem">
<h3>Most Popular Crave</h3>
<%= image_tag("Square_200x200.png", :alt => "rss feed") %>
</div>

<div class="eachItem">
<h3>Newest Crave</h3>
<%= image_tag("Square_200x200.png", :alt => "rss feed") %>
</div>

<div class="eachItem">
<h3>Trending Crave</h3>
<%= image_tag("Square_200x200.png", :alt => "rss feed") %>
</div>

<h3>New craves:</h3>
<% items_all.each do |item|%>
<ul>
<%=item.name%>
</ul>
<%end%>

<h3> Craver craves:</h3>

<p><%=favorites_all.item.name%></p>

<h3> Find new crave:</h3>
<%= link_to "Find new crave", items_path%>





<p>Done!! Method for Newest Items - 5</p>
<p>Done!! Method for Most Popular</p>
<p>Method for Trending</p>
