<h1><%= @category.name %></h1>
<p><%= link_to "Back to search", categories_path %></p>

<%@category.items.each do |item|%>
<ul>
<h3><li><%= link_to item.name, item_path(item) %> $<%= item.price %>
<%= button_to "Add to Cart", add_to_cart_path(item), method: :patch %></li></h3>
</ul>
<%end%>

<p>Add to favorites button</p>
<p>Trending highlight</p>

