<!DOCTYPE html>
<html>
  <head>
    <title>Craver App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if current_user %>
        <%= button_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Signup", signup_path %><br>
        <%= link_to "Login", login_path %>
      <% end %>

      <%= flash[:notice] %>
        <h3>My cart</h3>
        <% @cart_items.each do |cart_item| %>
          <% cart_item.name %>
        <% end %>
        Craves in cart: <%= @cart_items.count %>

        <p><%= button_to "View cart", cart_path, method: "get"%></p>

        <% if flash.alert %>
          <% flash.alert.each do |message| %>
        <li><%= message%></li>
        <% end %>
      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
<ul>
