<!DOCTYPE html>
<html>
  <head>
    <title>Craver App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div class="cart">
      <%= flash[:notice] %>
        <% if !@hide_cart %>
        <div class="cartButton"><%= button_to "View cart", cart_path, method: "get"%></div><br>
        Craves in cart: <%= @cart_items.count %>
          
        <% end %>
        </div>

        <div class="cravefont">Craver</div>


      <div class="top-nav">
        <p class="textpad"><%= link_to "HOME", root_path %></p>
          <% if current_user %>
          <p class="textpad"><%= link_to "MY PROFILE", user_path(session[:user_id]), method: :get %></p>
            <p class="textpad"><%= link_to "LOGOUT", logout_path, method: :delete %></p>
          <% else %>
            <p class="textpad"><%= link_to "SIGN UP", signup_path %></p>
        <p class="textpad"><%= link_to "LOGIN", login_path %></p>
        <% end %>
      </div>


        <% if flash.alert %>
          <% flash.alert.each do |message| %>
        <li><%= message%></li>
        <% end %>
      <% end %>

    </header>

    <%= yield %>

<div class="footer"><p>Craver Application by Esma Sherwani, James Sapp & Marty Warfel</p></div>

  </body>
</html>
